<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <system.serviceModel>
    <services>
      <!-- ======================================================================== -->
      <!-- ==                       UI CHANGES SERVICE                          ==  -->
      <!-- ======================================================================== -->
      <service name="FuseBoxUI.ServiceHosts.UIChanges">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12101/UI/IUIChanges" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netHttpBinding" contract="Common.Communication.Contract.UI.IUIChanges">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>

    <client>
      <!-- ======================================================================== -->
      <!-- ==                         MES MODEL READER CLIENT                          == -->
      <!-- ======================================================================== -->
      <endpoint address="http://localhost:12203/MES/IMESModelReader" binding="netHttpBinding" contract="Common.Communication.Contract.MES.IMESModelReader" />
      
      <!-- ======================================================================== -->
      <!-- ==                        MES COMMAND CLIENT                          == -->
      <!-- ======================================================================== -->
      <endpoint address="http://localhost:12204/MES/IMESCommand" binding="netHttpBinding" contract="Common.Communication.Contract.MES.IMESCommand" />

      <!-- ======================================================================== -->
      <!-- ==               MES REPORT GENERATOR SERVICE                        ==  -->
      <!-- ======================================================================== -->
      <endpoint address="http://localhost:12205/MES/IReports" binding="netHttpBinding" contract="Common.Communication.Contract.MES.IReports" />
      <!-- ======================================================================== -->
    </client>

    <bindings>
      <netHttpBinding>
        <binding name="netHttpBindingNoSecurity" closeTimeout="24:00:00" openTimeout="24:00:00" sendTimeout="24:00:00" receiveTimeout="24:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="netHttpBinding" closeTimeout="24:00:00" openTimeout="24:00:00" sendTimeout="24:00:00" receiveTimeout="24:00:00">
        </binding>
      </netHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>