<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key="mdbSimIp" value="127.0.0.1" />
    <add key="mdbSimPort" value="502" />
  </appSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="ScadaDbEntities" connectionString="metadata=res://*/Model.ScadaDbModel.csdl|res://*/Model.ScadaDbModel.ssdl|res://*/Model.ScadaDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=ScadaDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <!-- ======================================================================== -->
      <!-- ==                          COMMAND SERVICE                          ==  -->
      <!-- ======================================================================== -->
      <service name="ScadaService.Command">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12301/SCADA/ICommand" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netHttpBinding" contract="Common.Communication.Contract.SCADA.ICommand">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>

    <client>
      <!-- ======================================================================== -->
      <!-- ==                  MES TO SCADA INIT CLIENT                          == -->
      <!-- ======================================================================== -->
      <endpoint address="http://localhost:12201/MES/IMesInitValue" binding="netHttpBinding" contract="Common.Communication.Contract.MES.IMesInitValue" />
      <!-- ======================================================================== -->

      <!-- ======================================================================== -->
      <!-- ==                        MES CHANGES CLIENT                          == -->
      <!-- ======================================================================== -->
      <endpoint address="http://localhost:12202/MES/IMESChanges" binding="netHttpBinding" contract="Common.Communication.Contract.AsyncFakes.IMesChangesPretender" />
      <!-- ======================================================================== -->
    </client>

    <bindings>
      <netHttpBinding>
        <binding name="netHttpBindingNoSecurity" closeTimeout="24:00:00" openTimeout="24:00:00" sendTimeout="24:00:00" receiveTimeout="24:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="netHttpBinding" closeTimeout="24:00:00" openTimeout="24:00:00" sendTimeout="24:00:00" receiveTimeout="24:00:00">
        </binding>
      </netHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>